h1{
	text-align: center;
	color: #000000;
}

h3{
	text-align: center;
	color: #ffffff;
}

p{
	text-align: center;
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 20%; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.kataTable{
	width: 100%;
}

.kataTable tr:nth-child(even){background-color: #f2f2f2;}

.kataTable th {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #000000;
  color: white;
}

.random{
  margin: auto;
  width: 60%;
  border: 3px solid #000000;
  padding: 10px;
}