<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8" />
<title>Seido Karate Kata Training</title>
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="sidenav">
		<h3>All Katas</h3>
		<a href="/all/white">White</a>
		<a href="/all/blue">Blue</a>
		<a href="/all/yellow">Yellow</a>
		<a href="/all/green">Green</a>
		<a href="/all/brown">Brown</a>
		<a href="/all">All</a>
		<h3>Random Kata</h3>
		<a href="/random/white">White</a>
		<a href="/random/blue">Blue</a>
		<a href="/random/yellow">Yellow</a>
		<a href="/random/green">Green</a>
		<a href="/random/brown">Brown</a>
		<a href="/random">All</a>
	</div>
	<div class="main">
		<h1>Seido Karate Kata Training</h1>
		<p>Seido Karate Kata Training is a Spring Boot application built using Maven. It is running java 15 and uses Thymeleaf
		dependencies for server-side rendering. The application allows users to view all katas under Seido Karate (which  they
		can view by grade) and pick random katas to practice to avoid only training your best/favourites.</p>
	</div>
</body>
</html>